user is already Existing

please try again

<div>
    <a asp-controller="Home" asp-action="Index"> Back to Login </a>
</div>

<div>
    <a asp-controller="Home" asp-action="Registration"> Back to Registeration </a>
</div>